@import url('https://fonts.google.com/specimen/Commissioner');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  body{
    max-width: 100vw;
    font-size: 16px;
    font-family: "Commissioner", sans-serif;
    /* background-color: green; */
  }

  .background-image{
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    z-index: -1;
  }
  .background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .menu ul li{
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.menu ul{
 margin-right: 15rem;
 margin-top: 5rem
}
.logo{
 margin-left: 15rem;
 margin-top: 5rem;
}

.page1{
     width: 100%;
     max-width: 900px;
     margin-top:20rem;
    /* box-shadow: 0 0 1em rgb(0 0 0 / .3); */
    border-radius: 1rem;
    font-size: 16px;
    margin-left: 35rem;
}
.Intro .image{
  padding-left: 29rem;
  margin-bottom: 1.5rem;
  position: relative;
} 

.Intro{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
}
.Intro h1{
  padding-left: 6rem;
  font-weight: 800;
  font-size: 40px;
}
.Intro p{
  padding-left: 4rem;
  color: grey;
  font-size: 16px;
}

.buttondiv{
    display: flex;
    justify-content: space-between;
   padding: 10px;
   margin-top: 2rem;
   padding-bottom: 2rem;
   margin: 2rem;

}
.Intro .button1{
  padding: 15px 30px;
    border-radius: 40px;
    color: white;
    border: transparent;
    background-color: hsl(176, 50%, 47%);
}

.Intro .button2{
  padding: 15px 30px;
    border-radius: 40px;
    color: white;
    border: transparent;
    background-color: grey;
}


.stats{
  margin-top: 0.5rem;
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 0.5rem;
}
.backers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.backers h2{
  font-size: 35px;
}
.backers p{
  color: grey;
  font-size: 16px ;
}

#griddivs{
  padding: 2rem;
}
.file {
  width: 60rem;
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
}

.file::-webkit-progress-value {
  background-color: hsl(176, 50%, 47%);
  border-radius: 10px;
}
.progressbar{
  padding: 1rem;
}

.About-project{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
}

.About p{
      color: grey;
      padding: 1rem;
      font-size: 16px;
}

.Bamboo-pledge{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}

.Black-edition{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}


.Mahogany-edition{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}

.editions{
  padding: 2rem;
}

.editions p{
  color: grey;
}

.editions h3{
  font-size: 25px;
}

.About-project .heading3{
  padding: 1rem;
}
.About-project span{
 display: flex;
 padding: 1rem;
 justify-content: space-between;
}


.pledge{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}
.pledge #pledgespan{
  color: hsl(176, 50%, 47%);
  text-align: end;
}
.button{
  padding: 15px 25px;
  border-radius: 40px;
  color: white;
  border: transparent;
  background-color: hsl(176, 50%, 47%);
}

.inactive{
  padding: 15px 25px;
  border-radius: 40px;
  color: white;
  border: transparent;
  background-color: hsl(0, 0%, 48%);
}


  .modal {
    padding: 3em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
  
    & > * {
      margin: 1rem 0 3rem 2rem;
    }
  }
.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}
