@import url('https://fonts.google.com/specimen/Commissioner');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  body{
    font-size: 16px;
    font-family: "Commissioner", sans-serif;
  }

  body.fixed{
    overflow: hidden;
  }

  .container{
       max-width: 1200px;
       width: 100%;
       /* display: flex;
       justify-content: center;
       align-items: center; */
       flex-direction: column;
       z-index: 1;
       margin: auto;
  }

  .background-image{
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    z-index: -1;
  }
  .background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .menu ul li{
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.menu ul{
 margin-top: 5rem
}
.logo{
 margin-top: 5rem;
}

.page1{
     width: 100%;
     margin-top:20rem;
    /* box-shadow: 0 0 1em rgb(0 0 0 / .3); */
    border-radius: 1rem;
    font-size: 16px;
    /* margin-left: 35rem; */
}
 
.Intro{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mastercraft{
  transform: translateX(-50%);
  position: relative;
  top: -30px;

}

.Intro h1{
  padding-left: 4rem;
  font-weight: 800;
  font-size: 40px;
}
.Intro p{
  color: grey;
  font-size: 16px;
}

.buttondiv{
   display: flex;
  justify-content: space-between;
  column-gap: 50rem;
   margin-top: 2rem;
   padding-bottom: 1rem;
   margin: 2rem;
   height: 60px;

}
.Intro .button1{
    padding: 15px 30px;
    border-radius: 40px;
    color: white;
    border: transparent;
    background-color: hsl(176, 50%, 47%);
}

.Intro .button1:hover{
   cursor: pointer;
   background-color: hsl(176, 72%, 28%);
}

.Intro .button2{
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
    border: transparent;
    background-color: grey
  
}
.Intro .button2:hover{
  cursor: pointer;
  background-color: lightgray
}
.button2 span{
  margin-right: 10px;
}

.button2 img {
  margin-right: 5px; 
  vertical-align: middle; 
  width: auto;
  height: 100%; 
}
.stats{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin: 2rem 0;
}
.backers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.backers h2{
  font-size: 35px;
}
.backers p{
  color: grey;
  font-size: 16px ;
}

#griddivs{
  padding: 2rem;
}
.progressbar progress {
  width: 100%;
  height: 10px;
  background-color: #ddd; 
  border-radius: 10px;
}
.progressbar progress::-webkit-progress-bar {
  background-color: #ddd; 
  border-radius: 10px; 
}
.progressbar progress::-webkit-progress-value {
  background-color: cyan;
  border-radius: 10px; 
}

.progressbar{
  padding: 2rem;
}

.About-project{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
}

.About p{
      color: grey;
      padding: 1rem;
      font-size: 16px;
}

.Bamboo-pledge{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}

.Black-edition{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}


.Mahogany-edition{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
 background-color: white;
  margin-top: 2rem;
  opacity: 50%;
}

.editions{
  padding: 2rem;
}

.editions p{
  color: grey;
}

.editions h3{
  font-size: 25px;
}

.About-project .heading3{
  padding: 1rem;
}
.About-project span{
 display: flex;
 padding: 1rem;
 justify-content: space-between;
}


.pledge{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}
.pledge #pledgespan{
  color: hsl(176, 50%, 47%);
  text-align: end;
}
.button{
  padding: 15px 25px;
  border-radius: 40px;
  color: white;
  border: transparent;
  background-color: hsl(176, 50%, 47%);
}
.button:hover{
cursor: pointer;
background-color: hsl(176, 72%, 28%);
}
.inactive{
  padding: 15px 25px;
  border-radius: 40px;
  color: white;
  border: transparent;
  background-color: hsl(0, 0%, 48%);
}

/*modal selections*/
.modalHeader{
  padding: 3rem 1rem 0 1rem;
}

.modalHeader p{
  padding: 1rem 1rem 0 0;
}

.pledge--modal{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}

.pledge--modal:hover{
  cursor:pointer;
  border: solid 3px hsl(176, 72%, 28%);
}

.pledge--modal h3:hover{
  cursor:pointer;
  color: hsl(176, 72%, 28%);
}

.pledge--modal p{
 padding: 1rem;
 color: grey;
}

.Bamboo-pledge--modal{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
}

.Bamboo-pledge--modal:hover{
  cursor:pointer;
  border: solid 3px hsl(176, 72%, 28%);
}

.Bamboo-pledge--modal h3:hover{
  cursor:pointer;
  color: hsl(176, 72%, 28%);
}

.Bamboo-pledge--modal p{
  padding: 1rem;
  color: grey;
 }

.Black-edition--modal{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}

.Black-edition--modal:hover{
  cursor:pointer;
  border: solid 3px hsl(176, 72%, 28%);
}

.Black-edition--modal h3:hover{
  cursor:pointer;
  color: hsl(176, 72%, 28%);
}

.Black-edition--modal p{
  padding: 1rem;
  color: grey;
 }

.Mahogany-edition--modal{
  box-shadow: 0 0 0.5em rgb(0 0 0 / .3);
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
}

.Mahogany-edition--modal:hover{
  cursor:pointer;
  border: solid 3px hsl(176, 72%, 28%);
}
.Mahogany-edition--modal h3:hover{
  cursor:pointer;
  color: hsl(176, 72%, 28%);
}
.Mahogany-edition--modal p{
  padding: 1rem;
  color: grey;
 }

   .modal, .thankyou--modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); 
   }
   .modal-wrapper, .thanksmodal-wrapper{
    background-color: white;
    margin: 10% auto;
    width: 50%;
    border-radius: 5px;
   }

   .thanksmodal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 450px;
    padding: 10px;
    margin-top: 10rem;
   }
   .close{
    float: right;
    cursor: pointer;
    padding: 1rem 2rem 0 0;
   }